.lacuna {
    display: inline-block;
    font-size: 2em;
    border: solid 2px;
    padding: 2%;
    margin: 1%;
}

.titulo {
    text-transform: uppercase;
    font-weight: bold;
    color: #341f97;
}